<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<h1 class="header">My Pets</h1>

<form id="new-pet-form" action="/new-pet" method="POST" onsubmit="return validateForm()">
  Name:
  <input id="name-input" name="name" />
  <br>
  Species:
  <input id="species-input" name="species" />
  <br>
  Age:
  <input id="age-input" name="age" />
  <br>
  <input id="submit" type="submit" value="Submit" />
</form>

<a href="/pets">Pets List</a>

<input id="text-color" />
<button id='change-color'>Change Text Color</button>

<p>Apply to our full-time and part-time courses to take accelerate your education.</p>
<p>Our courses teach you the skills you need to take the next step in becoming a software engineer.</p>
<p>We provide job support during and after the course to help you continue to develop your skills and find the right opportunities.</p>
Learn more <a href="https://www.lambdaschool.com">here.</a>


<script src="/static/scripts/home.js"></script>
